.addForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}

    .addForm__title {
        font-size: 25px;
        font-weight: 700;
        color: var(--black75);
        align-self: flex-start;
    }

    .addForm__dragDrop {
        width: 100%;
    }
        .dragDrop__img {
            background-color: var(--white);
            width: 100%;
            padding: 60px 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            border: dashed 1px var(--black25);
        }

            .dragDrop__img--icon::before {
                content: var(--plus);
                font-size: 30px;
                color: var(--black25);
            }

            .dragDrop__img--text {
                text-align: center;
                font-size: 16px;
                color: var(--black50);
                line-height: 18px;
            }
            
            .dragDrop__img--text::before {
                content: "Adicionar uma imagem para o produto";
            }
        
        .dragDrop__or {
            display: none;
        }
        .dragDrop__btn {
            display: none;
            font-size: 16px;
        }

    .addForm__field {
        display: flex;
        background-color: var(--white);
        padding: 0 15px;
        width: 100%;
        box-sizing: border-box;
    }

        .addForm__label {
            font-size: 16px;
            color: var(--black25);
            position: absolute;
            transform-origin: top left;
            transform: translate(0, 6px) scale(0.75);
            transition: all var(--time);
        }

        .addForm__input {
            width: 100%;
            height: 50px;
            font-size: 16px;
            padding-top: 10px;
            box-sizing: border-box;
            outline: none;
        }

        .addForm__input::placeholder {
            opacity: 0;
            transition: opacity var(--time);
        }

        .addForm__input:focus::placeholder {
            opacity: 50%;
        }

        .addForm__input:not(:focus):placeholder-shown + label {
            transform: translate(0, 18px) scale(1);
        }

        .addForm__message {
            width: 100%;
            outline: none;
            padding: 15px;
            box-sizing: border-box;
            resize: none;
            font-size: 16px;
            height: 120px;
        }

        .addForm__message::placeholder {
            color: var(--black25);
        }

        .buttonAdd {
            width: 100%;
        }

@media screen and (min-width: 768px) {
    .addForm {
        padding: 20px 30px;
        max-width: 1050px;
    }

    .addForm__dragDrop {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
    }

        .dragDrop__img {
            width: 300px;
            padding: 40px;
        }

            .dragDrop__img--icon::before {
                content: var(--image);
            }

            .dragDrop__img--text::before {
                content: "Arraste para adicionar uma imagem para o produto";
            }

            .btnText::before {
                content: "Procure no seu tablet";
            }
        
        .dragDrop__or, .dragDrop__btn {
            display: block;
        }

        .dragDrop__btn {
            height: 60px;
        }
}

@media screen and (min-width: 1200px) {
    .addForm {
        max-width:650px;
        padding: 20px 0;
    }

    .addForm__title {
        font-size: 32px;
    }

    .addForm__dragDrop {
        justify-content: space-between;
    }

        .btnText::before {
            content: "Procure no seu computador";
        }

    .buttonAdd {
        height: 55px;
    }
}