@import url(icon.css);

:root {
    /* COLORS */
    --blue100: #2A7AE4;
    --blue75: #5595E9;
    --blue25: #D4E4F4;
    --blue10: #EAF2FD;
    --white: #FFFFFF;
    --black05: #F5F5F5;
    --black25: #b8b8b8;
    --black50: #6b6b6b;
    --black75: #464646;
    --black100: #000000;
    --transparent: #00000000;

    /* TIME BASE */
    --time: 300ms;

    /* ICONS */
    --close: "\e900";
    --arrow: "\e901";
    --search: "\e902";
    --plus: "\e903";
    --delete: "\e904";
    --edit: "\e905";
    --image: "\e906";
}

body {
    background-color: var(--black05);
    font-family: 'Raleway', 'icomoon', sans-serif;
    color: var(--black75);
}



.buttonStroke {
    border-color: var(--blue100);
    background-color: #ffffff00;
    padding: 12px 30px;
    width: fit-content;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #2A7AE4;
    border-style: solid;
    border-width: 1px;
    transition: background-color var(--time);
    cursor: pointer;
}

    .buttonStroke:hover {
        background-color: var(--blue25);
    }

.buttonFill {
    background-color: var(--blue100);
    padding: 12px 30px;
    width: fit-content;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    border-style: none;
    transition: background-color var(--time);
    cursor: pointer;
}

    .buttonFill:hover {
        background-color: var(--blue75);
    }

@media screen and (min-width: 1200px) {
    .buttonFill, .buttonStroke {
        font-size: 16px;
    }
}

.header {
    padding: 10px 20px;
    background-color: var(--white);
    width: 100%;
    box-sizing: border-box;
}

    .header__container {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
    }

    .header__logo {
        height: 30px;
    }

    .header__login {
        justify-self: center;
    }
    
    .search {
        order: 1;
        border: solid var(--transparent) 1px;
        transition: border var(--time);
    }

        .search__input {
            display: none;
            background-color: var(--transparent);
            border-style: none;
            outline: none;
            font-size: 15px;
            color: var(--black75);
        }

        .search__icon {
            opacity: 40%;
            transition: opacity var(--time);
            cursor: pointer;
        }

        .search__icon::before {
            content: var(--search);
            font-size: 30px;
            color: var(--black100);
            position: relative;
            top: 3px;
        }

        .search__icon:hover {
            opacity: 75%;
        }

    @media screen and (min-width: 768px) {
        .header {
            padding: 10px 30px;
        }

        .search{
            order: 0;
            padding: 10px 16px;
            border-radius: 100px;
            width: 300px;
            background-color: var(--black05);
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            margin-left: 20px;
        }

        .search:hover {
            border: solid var(--blue100) 1px;
        }

        .search__input {
            display: block;
            width: 100%;
        }

        .search__input::placeholder {
            color: var(--black25);
            transition: opacity var(--time);
        }

        .search__input:focus::placeholder {
            opacity: 0;
        }

        .search__icon {
            width: auto;
            opacity: 30%;
        }

        .search:hover .search__icon {
            opacity: 60%;
        }

    }

    @media screen and (min-width: 1200px) {
        
        .header {
            padding: 30px 30px;
        }

        .header__logo {
            height: 50px;
        }

        .search{
             margin-left: 30px;
        }
    }


.footer {
    background-color: var(--blue10);
    width: 100%;
    box-sizing: border-box;
}
    .footer__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        max-width: 1060px;
        padding: 10px 20px;
        margin: 0 auto 20px;
        gap: 20px;
    }

    .footer__logo {
        height: 50px;
        align-self: center;
    }

    .footer__pages {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }

    .footer__pages li:hover {
        color: var(--blue100);
    }

    .footer__form {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        margin-top: 10px;
        width: 100%;
        box-sizing: border-box;
    }

        .footerForm__title {
            font-size: 16px;
            font-weight: 700;
            color: var(--black75);
        }

        .footerForm__name {
            display: flex;
            background-color: var(--white);
            position: relative;
            padding: 0 15px;
        }

            .footerForm__nameLabel {
                font-size: 16px;
                color: var(--black25);
                position: absolute;
                transform-origin: top left;
                transform: translate(0, 4px) scale(0.75);
                transition: all var(--time);
            }

            .footerForm__nameInput {
                width: 100%;
                font-size: 16px;
                padding: 16px 0 10px;
                outline: none;
            }

            .footerForm__nameInput::placeholder {
                opacity: 0;
                transition: opacity var(--time);
            }

            .footerForm__nameInput:focus::placeholder {
                opacity: 50%;
            }

            /* Seleciono o input que NÃO estã em foco e está exibindo placeholder e pego o primeiro label que aparece após ele */
            .footerForm__nameInput:not(:focus):placeholder-shown + label {
                transform: translate(0, 16px) scale(1);
            }

        .footerForm__message {
            width: 100%;
            box-sizing: border-box;
            resize: none;
            border-style: 0;
            outline: none;
            padding: 15px;
            font-size: 16px;
        }

        .footerForm__message::placeholder {
            color: var(--black25);
        }

    .footer__sign {
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        row-gap: 5px;
    }

    .linkDev {
        font-weight: 700;
        transition: color var(--time);
    }

    .linkDev:hover {
        color: var(--blue100);
    }
    
    @media screen and (min-width:768px) {
        .footer__container {
            display: grid;
            grid-template-columns: 1fr 2fr;
            padding: 10px 30px;
        }

        .footer__pages {
            align-items: flex-start;
            row-gap: 20px;
        }

        .footer__form {
            grid-row: 1 / 2 span;
            grid-column: 2;
        }
    }

    @media screen and (min-width: 1200px) {
        .footer__container {
            grid-template-columns: 1fr 1fr 2fr;
            padding: 20px 0;
            max-width: 1000px;
        }

        .footer__logo {
            align-self: flex-start;
        }

        .footer__pages {
            align-self: flex-start;
            padding-top: 15px;
        }

        .footer__form {
            align-self: flex-start;
            grid-column: 3;
        }
    }

.productSection {
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
}

    .productSection__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto 20px;
        gap: 20px;
    }

    .productSection__title {
        font-weight: 700;
        font-size: 22px;
        color: var(--black75);
    }

    .productSection__more {
        justify-self: end;
        font-weight: 700;
        color: var(--blue100);
        font-size: 16px;
    }

    .productSection__more::after {
        content: var(--arrow);
        margin-left: 3px;
        position: relative;
        top: 1px;
    }

.itemBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 8px;
    cursor: pointer;
}

    .itemBox__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto 20px;
        gap: 20px;
    }

    .itemBox__name {
        font-weight: 500;
        color: var(--black75);
        font-size: 14px;
    }

    .itemBox__price {
        font-size: 16px;
        font-weight: 700;
        color: var(--black75);
    }

    .itemBox__more {
        font-size: 16px;
        font-weight: 700;
        color: var(--blue100);
    }

    .itemBox__more:hover {
        color: var(--blue75);
    }

    .itemBox--hide {
        display: none;
    }

@media screen and (min-width: 768px) {
    .itemBox__container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px) {        
    .productSection {
        margin-top: 30px;
    }
    
    .itemBox__container {
        grid-template-columns: repeat(6, 1fr);
    }

    .itemBox--hide {
        display: flex;
    }
}