html {
    scroll-behavior: smooth;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(../img/Banner.jpg) center;
    background-size: cover;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
}
    .banner__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        gap: 15px;
    }

        .banner__title {
            color: #FFFFFF;
            font-weight: 700;
            font-size: 22px;
        }

        .banner__info {
            color: #FFFFFF;
            font-weight: 500;
            font-size: 14px;
        }

    @media screen and (min-width: 768px) {
        .banner {
            height: 300px;
            padding: 30px;
        }

        .banner__title {
            font-size: 52px;
        }

        .banner__info {
            font-size: 22px;
        }
    }

    @media screen and (min-width: 1200px) {
        .banner {
            height: 400px;
            padding: 30px;
        }
    }